* {
	color: @view_fg_color;
}

#window {
	background: none;
}

#box {
	background: alpha(@window_bg_color, 0.1);
	padding: 24px;
	border-radius: 12px;
	border: 1px @sidebar_border_color solid;
}

#password {
	outline: none;
	outline-width: 0px;
	border-radius: 0;
	box-shadow: none;
	background: @sidebar_bg_color;
}

#searchwrapper {
}

#search,
#typeahead {
	/* outline: none; */
	/* outline-width: 0px; */
	/* box-shadow: none; */
	/* border-bottom: none; */
	/* border: none; */
	background: transparent;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-radius: 8px;
	font-size: 16px;
}

#spinner {
	opacity: 0;
}

#spinner.visible {
	opacity: 1;
}

#typeahead {
	background: none;
	opacity: 0.5;
}

#search placeholder {
	opacity: 0.5;
}

#list {
	padding: 16px;
	border-radius: 8px;
	border: 1px @sidebar_border_color solid;
}

row:selected {
	background: transparent;
}

row:selected .item {
	background: alpha(@theme_fg_color, 0.05);
}

.item {
	padding: 0px 8px;
	margin: 0px 8px;
	border-radius: 4px;
}

.icon {
	padding-right: 8px;
}

#sub {
	font-size: 12px;
	font-weight: 800;
	color: alpha(@theme_fg_color, 0.5);
}

.textwrapper {
}

label {
	font-size: 16px;
}

.activationlabel {
	opacity: 0.25;
}

.activation .activationlabel {
	opacity: 1;
	color: @accent_color;
}

.activation .textwrapper,
.activation .icon,
.activation .search {
	opacity: 0.5;
}

/* GtkScrolledWindow { */
/* 	scrollbar-spacing: 0; */
/* } */

scrollbar {
	min-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

scrollbar.horizontal,
scrollbar.horizontal slider,
scrollbar.horizontal trough {
	min-height: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

scrollbar.vertical,
scrollbar.vertical slider,
scrollbar.vertical trough {
	min-width: 0;
	width: 0;
	margin: 0;
	padding: 0;
	border: none;
}
