@define-color main-bg alpha(black, 0.25);
@define-color bg-dark alpha(black, 0.55);
@define-color fg2 alpha(@theme_fg_color, 0.48);
@define-color main-border alpha(@theme_text_color, 0.1);

* {
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	font-family: monospace;
}

#controls-overview > box > box > image {
	padding: 0px 1px;
}
#controls-overview box box image, #inner-tray widget image, #root-executor image  {
opacity: 0.7;
}

#root-executor, #root-executor box, #root-executor image  {
padding: 2px;
}

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
	margin: 0px;
}

/* Top panel in sample config uses this name */
#panel-top {
	/* background: transparentize(@theme_bg_color, 0.5); */
	/* background: mix(@theme_bg_color, transparent, 0.9); */
	background: transparent;
	color: @theme_text_color;
	padding-top: 2px;
}

#hyprland-workspaces {
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	font-weight: bold;
}

#hyprland-workspaces #hyprland-workspaces-item {
	min-width: 8px;
	/* margin: 0px 0px;
	margin: 2px 0px; */
	transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#hyprland-workspaces #task-box-focused #hyprland-workspaces-item {
	border-left: 2px solid @fg2;
	border-right: 2px solid @fg2;
	/* border-radius: 999px; */
	color: @theme_text_color;
	border-radius: 8px;
}
#hyprland-workspaces #task-box-focused #hyprland-workspaces-item label {
	background: transparent;
	color: @theme_text_color;
	/* padding: 0px 2px; */
	opacity: 1;
}

#hyprland-workspaces #hyprland-workspaces-item label {
	min-width: 12px;
	/* min-height: 12px; */
	font-size: 12px;
	opacity: 0.6;
}

#player-control {
min-height: 0px;
background: transparent;
color: @theme_text_color;
 min-width: 0px;
 padding: 0 4px;
 opacity: 0.6;
 transition: none;
}
button#player-control:hover {
opacity: 1;
}
#player-label {
 opacity: 0.6;
}

#executor-label {
	font-size: 12px;
}

#clock {
	font-size: 14px;
}

#controls-window,
#calendar-window {
	border-radius: 8px;
	background-color: @bg-dark;
	border: solid 1px @main-border;
}

calendar {
	border: none;
	background: transparent;
}

/* Sliders */
/* scale trough {
	border-radius: 4px;
	background: alpha(currentColor, 0.1);
}

scale highlight {
	border-radius: 5px;
	min-height: 10px;
	background: @theme_text_color;
	margin-right: -5px;
}

scale slider {
	border-radius: 50%;
	margin: -18px;
	min-width: 10px;
	min-height: 10px;
	background: transparent;
	box-shadow: none;
}
scale slider:hover {
	margin: -8px;
} */


/* Controls window in sample config uses this name */
/* #controls-window { */
/* 	border-radius: 15px; */
/* 	background: @theme_bg_color; */
/* } */
/* #controls-window scale value { */
/* 	color: @theme_text_color; */
/* } */

/* Brightness slider popup window in sample config uses this name */
/* #brightness-popup { */
/* 	border-radius: 24px; */
/* 	background: @theme_bg_color; */
/* } */
/* #brightness-popup box { */
/* 	padding: 24px; */
/* } */
