@define-color main-bg alpha(black, 0.05);
@define-color fg2 alpha(@theme_fg_color, 0.48);
@define-color main-border alpha(@theme_text_color, 0.1);


#controls-overview > box > box > image {
	padding: 0px 4px;
}

#hyprland-workspaces,
#clock,
#right-box {
	padding: 0 12px;
	border-bottom: 1px solid @main-border;
	background: @main-bg;
}

#right-box { 
	padding-left: 24px;
	border-radius: 0px 0px 0px 999px; 
	border-left: 1px solid @main-border; 
}
#clock { 
	border-radius: 0px 0px 999px 999px;
	border-left: 1px solid @main-border;
	border-right: 1px solid @main-border;
	border-bottom: 1px solid @main-border;
	padding: 0px 40px;
}

#panel-top > box {
	/* padding: 0px 12px; */
}

/* Recommended if panel "height" unset or smaller then your theme default button height */
button {
	margin: 0px;
}

/* Top panel in sample config uses this name */
#panel-top {
	/* background: transparentize(@theme_bg_color, 0.5); */
	/* background: mix(@theme_bg_color, transparent, 0.9); */
	background: transparent;
	color: @theme_text_color;
}

#controls-overview {
}


#hyprland-workspaces { 
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 16px;
	border-radius: 0px 0px 90px 0px;
border-right: 1px solid @main-border;
font-weight: bold;
 }

#hyprland-workspaces #hyprland-workspaces-item {
	min-width: 8px;
	margin: 0px 0px; 
	margin: 2px 0px;
}

#hyprland-workspaces #task-box-focused #hyprland-workspaces-item {
	background: @fg2;
	min-width: 56px;
	color: @theme_text_color;
	border-radius: 9999px;
}
#hyprland-workspaces #task-box-focused #hyprland-workspaces-item label {
	background: transparent;
	color: @theme_bg_color;
	padding: 0px 16px;
}

#hyprland-workspaces #hyprland-workspaces-item label {
	min-width: 24px;
	min-height: 10px;
	background: @main-bg;
	border-radius: 999px;
	font-size: 12px;
}

#player-control {
	min-height: 0px;
	background: transparent;
	color: @theme_text_color;
}

/* #playerctl, */
/*  { */
/* 	background: red; */
/* } */

/* Controls window in sample config uses this name */
/* #controls-window { */
/* 	border-radius: 15px; */
/* 	background: @theme_bg_color; */
/* } */
/* #controls-window scale value { */
/* 	color: @theme_text_color; */
/* } */

/* Brightness slider popup window in sample config uses this name */
/* #brightness-popup { */
/* 	border-radius: 24px; */
/* 	background: @theme_bg_color; */
/* } */
/* #brightness-popup box { */
/* 	padding: 24px; */
/* } */

/* Executors usually behave better in monospace fonts */
#executor-label {
	font-family: monospace;
}

/* and so does the Clock */
#clock {
	font-family: monospace;
	font-size: 16px;
}



/* Sliders */
/* scale trough {
	border-radius: 4px;
	background: alpha(currentColor, 0.1);
}

scale highlight {
	border-radius: 5px;
	min-height: 10px;
	background: @theme_text_color;
	margin-right: -5px;
}

scale slider {
	border-radius: 50%;
	margin: -18px;
	min-width: 10px;
	min-height: 10px;
	background: transparent;
	box-shadow: none;
}
scale slider:hover {
	margin: -8px;
} */
