@define-color bar-bg rgba(14, 14, 14, 0.20);

@define-color main-color @theme_text_color;
@define-color main-bg rgba(14, 14, 14, 0);
@define-color dark #292828;

@define-color tool-bg #292828;
@define-color tool-color #c5b18d;
@define-color tool-border #383432;

@define-color wb-color #a89984;

@define-color wb-act-bg #7c6f64;
@define-color wb-act-color #504945;

@define-color wb-hvr-bg rgba(216, 166, 87,0.1);
@define-color wb-hvr-color #5a524c;

* {
	border: none;
	border-radius: 0px;
	font-family: "Zpix";
	font-weight: bold;
}

.modules-right {
	background: @main-bg;
	padding-left: 16px;
}

window#waybar {
	background: @bar-bg;
	border-radius: 12px;
}

tooltip {
	background: @main-bg;
	color: @tool-color;
	border-radius: 16px;
	padding: 16px;
}

#workspaces { }

#workspaces button {
	min-width: 24px;
	margin: 0px 6px; 
    transition: none;
}

#workspaces button label {
	min-width: 10px;
    min-height: 10px;
    background: @theme_bg_color;
    color: @theme_fg_color;
	border-radius: 999px;
    font-size: 12px;
}

#workspaces button.active {
	background: @theme_fg_color;
	min-width: 56px;
	color: @theme_bg_color;
    transition: none;
}
#workspaces button.active label {
  background: transparent;
  color: @theme_bg_color;
  padding: 0px 0px 0px 16px;
}



#taskbar button.active {
	border-bottom: solid 2px @dark;
	border-bottom: solid 2px @tool-color;
	background: @wb-hvr-bg;
	color: @main-bg;
	/* margin-left: 2px; */
	/* padding-left: 24px;
	padding-right: 24px; */
	/* margin-right: 2px; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
	opacity: 1;
}

#taskbar button:hover {
	background: @wb-hvr-bg;
	color: @wb-active-color;
	/* padding-left: 2px;
	padding-right: 2px; */
	animation: gradient_f 20s ease-in infinite;
	transition: all 320ms cubic-bezier(0.55, 0.18, 0.048, 1);
}


#cpu,
#battery,
#memory,
#clock,
#window,
#network,
#bluetooth,
#pulseaudio,
#mpris,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-wbar,
#custom-power,
#tray {
	font-size: 14px;
	color: @main-color;
	opacity: 0.9;
	padding-left: 12px;
	padding-right: 12px;
}

#window,
#taskbar {
	padding: 0px;
}


#custom-power {
	padding-left: 24px;
	padding-right: 24px;
}

#custom-notification {
	padding-left: 24px;
	padding-right: 24px;
}


#custom-r_end {
	border-radius: 0px 24px 24px 0px;
	padding-right: 8px;
	background: @main-bg;
}

#custom-l_end {
	border-radius: 999px 0px 0px 999px;
	/* margin-left: 4px; */
	padding-left: 8px;
	background: @main-bg;
}

#custom-sr_end {
	border-radius: 0px;
	/* margin-right: 8px; */
	padding-right: 8px;
}
