:root {
  --round-sm: 0.25rem;
  --round: 0.5rem;
  --round-lg: 1rem;
  --round-xl: 1.25rem;
  --round-2xl: 1.5rem;
  --round-3xl: 1.75rem;
  --round-4xl: 2rem;
}

/* Fluid look (remove visual seperation terminal and sidebars) */
.monaco-workbench {
  background-color: var(--vscode-sideBar-background) !important;
}
#workbench\.parts\.editor {
  border-radius: var(--round-lg) !important;
}

/* for transparent terminal */
/* [role="application"]:not(.nosidebar) #workbench\.parts\.editor { */
/* border-radius: var(--panel-roundess) 0px 0px var(--panel-roundess) !important; */
/* border-radius: var(--panel-roundess) !important; */
/* } */

/* for opaque terminal */
/* .nopanel[role="application"]:not(.nosidebar) #workbench\.parts\.editor {
	border-radius: var(--panel-roundess) 0px 0px var(--panel-roundess) !important;
} */
/* [role="application"]:not(.nosidebar) #workbench\.parts\.editor {
	border-radius: var(--panel-roundess) 0px 0px 0px !important;
}
[role="application"]:not(.nosidebar) #workbench\.parts\.panel {
	border-radius: 0px 0px 0px var(--panel-roundess);
} */

/* Disable borders */
.monaco-workbench footer {
  background-color: transparent !important;
  --status-border-top-color: "transparent" !important;
}
.monaco-workbench .part.panel.bottom .composite.title,
.part,
.monaco-workbench .activitybar.bordered {
  border: none !important;
}
#workbench\.parts\.titlebar {
  border-bottom: transparent !important;
}
.monaco-workbench .activitybar.bordered:before {
  border-color: none !important;
  display: none;
}

/* Idk */
#tabs-tabbar-container {
  margin: 0px;
}

/* Lower opacity of explorer items */
#workbench\.view\.explorer .monaco-tl-row {
  opacity: 0.85;
}
#workbench\.view\.explorer .monaco-tl-row:hover {
  opacity: 1;
}

/* Quick input list */
.quick-input-widget {
  border-radius: 16px;
  padding: 16px;
  top: 25% !important;
  /* translate: 0px -50%; */
  box-shadow: 0 32px 56px -24px var(--vscode-widget-shadow),
    0 24px 40px -16px var(--vscode-widget-shadow) !important;
  animation: fadein 80ms ease-in;
  border: var(--vscode-textSeparator-foreground) 1px solid !important;
}
.quick-input-header {
  padding: 8px 8px 12px 8px;
}
.quick-input-titlebar {
  border-radius: var(--round-sm);
}
.quick-input-list .monaco-list-row {
  border-radius: var(--round);
}
.monaco-inputbox > .ibwrapper > .input input[type="text"] {
  font-size: 1rem;
}

/* ################### */
/* Roundness  */
/* ################### */
/* round buttons */
.monaco-button-dropdown,
.scm-view .scm-editor-container,
.suggest-input-container,
.monaco-workbench select,
.monaco-inputbox,
.setting-item-contents {
  border-radius: 8px;
}
/* selections */
.monaco-list-row {
  border-radius: 4px;
}
/* misc */
.monaco-editor .cursors-layer .cursor {
  border-radius: 2px;
}
.slider {
  border-radius: 8px;
  max-width: 8px;
}
/* Hover pop ups */
.monaco-editor .monaco-hover {
  border-radius: 16px;
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 0.22);
  padding: 4px;
}

/* Current line */
.monaco-editor .view-overlays .current-line {
  border-radius: 8px !important;
}
/* .monaco-editor .view-overlays .current-line::after,
.monaco-editor .view-overlays .current-line::before {
	content: " ";
	background: rgba(56, 52, 50, 0.56);
	position: absolute;
	top: 0%;
	left: 0px;
	height: 24px;
	width: 24px;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M0 0L2.79753e-06 16L16 16C7.16345 16 1.54503e-06 8.83656 0 0Z' fill='%23FF0000'/%3E%3C/svg%3E");
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-image: "";
} */
/* .monaco-editor .view-overlays .current-line::before {
	translate: 0px calc(-100% - 2px);
}
.monaco-editor .view-overlays .current-line::after {
	translate: 0px calc(100% - 3px);
	rotate: 180deg;
	scale: -1 1;
} */

/* Text highlights */
.monaco-editor .wordHighlightStrong,
.monaco-editor .bracket-match,
.monaco-editor .wordHighlight,
.monaco-editor .hoverHighlight,
.monaco-editor .searchEditorFindMatch,
.monaco-editor .wordHighlightText,
.search-view .findInFileMatch,
.statusbar-item a {
  border-radius: 0.25rem !important;
}

/* Selections */
.monaco-editor .top-left-radius {
  border-top-left-radius: var(--round);
}
.monaco-editor .bottom-left-radius {
  border-bottom-left-radius: var(--round);
}
.monaco-editor .top-right-radius {
  border-top-right-radius: var(--round);
}
.monaco-editor .bottom-right-radius {
  border-bottom-right-radius: var(--round);
}

/* Neovim selections */
.monaco-editor .ced-2-TextEditorDecorationType681-0 {
  border-radius: 0 var(--round) var(--round) 0;
}

/* Hover Popus and content */
.monaco-workbench .workbench-hover {
  border-radius: 12px;
  padding: 8px;
}
.monaco-workbench .workbench-hover .hover-row .actions {
  border-radius: 12px;
}
.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) {
  border: none !important;
  margin-top: var(--round) !important;
}

/* Status icons */
.monaco-hover .hover-row.status-bar .actions {
  padding: 4px 12px;
  border-radius: var(--round-4xl);
}

/* Notifications */
.monaco-workbench
  > .notifications-toasts
  .notification-toast-container
  > .notification-toast {
  border-radius: var(--round-lg);
  padding: var(--round-sm);
}

/* Scroll decoration */
.monaco-editor .scroll-decoration {
  height: 24px !important;
  border-radius: var(--round-lg);
}
.monaco-editor .sticky-widget {
  border-bottom-left-radius: var(--round-lg);
  border-bottom-right-radius: var(--round-lg);
  overflow: hidden !important;
  min-width: 100%;
}
.monaco-scrollable-element > .shadow.top {
  height: 24px !important;
  border-radius: var(--round-lg);
}

/* Terminal selections */
.xterm-selection div {
  border-radius: var(--round);
}

/* Sidebar headers */
.monaco-pane-view .pane > .pane-header {
  border-radius: 8px 8px 0px 0px;
}
