:root {
	--panel-roundess: 16px;
}

/* for transparent terminal */
[role="application"]:not(.nosidebar) #workbench\.parts\.editor {
	/* border-radius: var(--panel-roundess) 0px 0px var(--panel-roundess) !important; */
	border-radius: var(--panel-roundess) !important;
}

/* for opaque terminal */
/* .nopanel[role="application"]:not(.nosidebar) #workbench\.parts\.editor {
	border-radius: var(--panel-roundess) 0px 0px var(--panel-roundess) !important;
} */
/* [role="application"]:not(.nosidebar) #workbench\.parts\.editor {
	border-radius: var(--panel-roundess) 0px 0px 0px !important;
}
[role="application"]:not(.nosidebar) #workbench\.parts\.panel {
	border-radius: 0px 0px 0px var(--panel-roundess);
} */

.monaco-workbench footer {
	background-color: transparent !important;
	--status-border-top-color: "transparent" !important;
}

#workbench\.parts\.titlebar {
	border-bottom: transparent !important;
}

#workbench\.parts\.titlebar .window-appicon {
	filter: sepia(1) !important;
	opacity: 0.5 !important;
}

.monaco-workbench .activitybar.bordered {
	border: none !important;
}
.monaco-workbench .activitybar.bordered:before {
	border-color: none !important;
	display: none;
}

.monaco-icon-label:before {
	filter: sepia(0.3);
	opacity: 0.9;
}

#tabs-tabbar-container {
	margin: 0px;
}

.monaco-workbench .part.panel.bottom .composite.title {
	border: none !important;
}

/* ################### */
/* Roundness  */
/* ################### */
/* round buttons */
.monaco-button-dropdown,
.scm-view .scm-editor-container,
.suggest-input-container {
	border-radius: 8px;
}
/* selections */
.monaco-list-row {
	border-radius: 4px;
}
/* misc */
.monaco-editor .cursors-layer .cursor {
	border-radius: 2px;
}
.slider {
	border-radius: 8px;
	max-width: 8px;
}
