[Desktop Entry]
Name=LayanGruvboxMaterial
X-KDE-PluginInfo-Author=Christofer Koeth
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=imchris@tuta.io
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=LayanGruvboxMaterial
X-KDE-PluginInfo-Version=1.0
